.auth{
    .bg-white{
        background-color: #f8f9fa !important;
    }
    .j-center{
        justify-content: center;
    }
    h1,h2,h3,h4,h5{
        text-align: center;
        padding: 1rem 0;
    }  
    .auth-container{
        margin-top: 5vh;
    }
    @media(min-width:720px) {
        .auth-container{
            margin-top: 10vh;
        }
    }  
}